.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section_image{
    padding-left: 50px;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 8px;
}

td{
    position: relative;
}

th{
    background-color: lightgreen;
}



td:hover {background-color: coral;}

td.no-hover {
    background-color: initial; /* Or any other background color you want for excluded cells */
}

.set_1{
    background-color: lightblue;
}

.set_2{
    background-color: lightgoldenrodyellow;
}

.backgrey{
    background-color: grey;
}

/* Tooltip container */
.tooltip .tooltipcontent {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%; /* Position above the cell */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip when hovering */
.tooltip:hover .tooltipcontent {
    visibility: visible;
    opacity: 1;
}

